@charset "UTF-8";

/* Typical device breackpoints
--------------------------
Telas pequenas: até 600px

Celulares: 601px to 768px

Tablets: 769px até 992px

Desktop: 993px até 1024px

Telas grandes: acima de 1025px
*/


@media screen and (min-width: 769px) and (max-width: 992px){ /* versão para tablet */

    body{
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    section#login{
        width: 90vw;
        height: 350px;
    }

    section#login > div#imagem{
        float: left;
        width: 30%;
        height: 100%;
    }

    section#login > div#formulario{
        float: right;
        width: 70%;
    }

    div#formulario > p {
        font-size: 1.2em;
    }

}


@media screen and (min-width: 993px) { /* para telas grandes */

    body{
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    section#login{
        width: 992px;
        height: 400px;
    }

    section#login > div#imagem {
        /* esse atributo float: left, significa que a imagem vai flutuar a esquerda do block*/
        float: right;
        width: 50%;
        height: 100%;
    }

    section#login > div#formulario {
        float: right;
        width: 50%;
    }
    
    div#formulario > h1 {
        font-size: 2em;
    }


    div#formulario > p {
        font-size: 1.1em;
        margin: 20px 0px;
    }

}

